
@{
    ViewBag.Title = "LoggedIn";
}

<h2>LoggedIn</h2>

@if (Session["UserID"] != null)
{
<div class="jumbotron">Hello @Session["Name"].ToString() &nbsp; @Session["LastName"].ToString()</div>
}

<script>
    window.setTimeout(function(){window.location.href='/';}, 4000);
</script>